* {
    font-family: Work Sans;
}


.header {
    background-image: url('../images/banner/banner1.png');
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 140px;
}

.container {
    text-align: right;
}

.container .container-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    max-width: 525px;
    padding: 216px 130px 0px 700px;
    margin-bottom: 0px;

}

.container .container-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 494px;
    padding: 0px 0px 0px 700px;
    margin-bottom: 30px;
}

.container button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 137px 166px 0px;
}

.profile-section {
    display: flex;
    gap: 60px;
    margin-top: 300px;
}

.profile-section .content {
    margin-left: 150px;
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    background-position: right top;
}

.profile-section .content img {
    position: relative;
    bottom: 195px;
    right: 22px;
}

.profile-section .content2 {
    margin-right: 230px;
}

.profile-section .content2 .content-title {
    color#151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.profile-section .content2 .content-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px 0;
}

.profile-section .content2 .options p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.profile-section .content2 .options p i{
    color: green;
}

